html, body {
  margin: 0;
  padding: 0;
}

.rectangle{
  opacity:0%;
  position: absolute;
  margin-top:325px;
  margin-left:200px;

}


canvas {
  margin-top: 75px;
  margin-left: 100px;
  z-index:-1;
}
